@import "../../assets/style.scss";

.Router {
    margin-left: auto;
    display: flex;
    align-items: center;

    li {
        display: block;
        float: left;
        margin-left: 4rem;
    }

    .link {
        font-size: 1.2rem;
        color: $color1;
    }

    .auth {
        color: $color2;
    }
}
